In [1]:
import pandas as pd

In [6]:
MLS_df = pd.read_csv('../data_files/metro_demographic_by_zipcode.csv', index_col=[0], header=0)
Demo_df = pd.read_csv('../data_files/metro_demographic_by_city_state.csv', index_col=[0], header=0)

In [5]:
MLS_df

,area_name,zipcode,state,city,population,median_age,race_asian,race_white,race_black,race_native,...,race_hispanic,average_household_income,family_households_total,family_poverty_pct,educational_attainment_bachelors,educational_attainment_graduate,educational_attainment_high_school,educational_attainment_no_diploma,educational_attainment_some_college,family_poverty
0,"Anchorage, AK",99501,Alaska,Anchorage,17084,34,999,9015,1412,2189,...,1360,87441,3142,11.4,3553,2238,4048,1605,5654,1947
1,"Anchorage, AK",99502,Alaska,Anchorage,24505,32,2028,15271,857,1257,...,2620,111653,5941,4.5,5709,3112,6003,1176,8527,1102
2,"Anchorage, AK",99503,Alaska,Anchorage,13668,34,2102,5944,1257,1548,...,1337,64578,2522,12.3,2132,902,4168,1667,4797,1681
3,"Anchorage, AK",99504,Alaska,Anchorage,42161,32,4251,21416,4340,2936,...,3542,92815,10037,5.7,8094,4511,10919,3204,15388,2403
4,"Anchorage, AK",99505,Alaska,Anchorage,6477,21,188,3976,564,14,...,1284,78229,1069,4.1,1444,783,1418,142,2687,265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,"Madison, WI",53706,Wisconsin,Madison,6265,19,991,4595,232,14,...,232,17820,0,0.0,2650,2412,0,0,1202,0
843,"Madison, WI",53715,Wisconsin,Madison,14246,22,1697,10474,505,16,...,1102,48375,1128,16.8,4288,3974,1396,982,3604,2393
844,"Madison, WI",53726,Wisconsin,Madison,5869,23,716,4592,194,27,...,239,85599,725,5.8,1696,3550,299,52,275,340
845,"Charleston, WV",25301,West Virginia,Charleston,2360,47,48,1601,452,0,...,65,51371,433,27.5,356,523,571,172,738,649
846,"Charleston, WV",25304,West Virginia,Charleston,8307,42,297,6800,921,4,...,143,92942,1988,11.4,1786,1769,2093,506,2151,946

In [7]:
Demo_df

,city,state,population,median_age,average_income,educational_attainment_bachelors,educational_attainment_graduate,educational_attainment_high_school,educational_attainment_no_diploma,educational_attainment_some_college,race_asian,race_white,race_black,race_hispanic,race_native,race_islander,race_two,race_other,family_poverty_pct
0,Abilene,Texas,85075,27,49583,14.912724,8.151631,30.062886,12.621804,34.088745,2253,53385,8597,18241,524,15,1860,200,11.011460
1,Akron,Ohio,94894,33,42943,11.348452,5.912913,35.571269,14.481421,32.681729,2164,54490,31493,1761,134,22,4765,65,26.880519
2,Albany,Georgia,64884,37,59234,14.433450,11.150669,27.747981,13.927933,32.699895,948,20685,40100,1737,96,24,1241,53,21.314962
3,Albuquerque,New Mexico,319991,35,61589,20.694020,17.812376,20.767772,7.844908,32.934364,8437,153880,9545,126499,13606,213,6795,1016,13.220997
4,Alexandria,Louisiana,59184,38,57892,13.125169,8.980468,35.514666,15.306502,27.085023,1856,23883,30783,1494,206,7,924,31,18.510070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Wichita,Kansas,191734,34,75391,17.903971,8.251536,27.624730,13.589661,32.583162,5126,124831,17902,35486,1185,36,7065,103,14.899809
151,Wichita Falls,Texas,65896,31,56167,14.615455,6.129355,29.505585,14.809700,34.900449,963,37908,8448,16154,403,26,1680,314,20.104407
152,Winston-Salem,North Carolina,33082,27,34263,28.244967,21.609939,13.236806,3.672692,33.229551,1351,22926,5736,2099,57,0,846,67,5.634484
153,Yakima,Washington,46258,32,52787,9.198409,6.798824,27.497946,26.899131,29.599204,285,20719,340,23274,494,10,1095,41,15.698906
154,Yuba City,California,40959,33,60353,10.698503,4.799922,26.897629,22.197808,35.398813,3892,19336,874,14832,258,195,1504,68,16.799727