In [1]:
import requests
import json
#import prettytable
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
#import psycopg2 
#import io

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
file_nat = "data_files/national_M2019_dl.xlsx"
bls_df = pd.read_excel(file_nat)
bls_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
0,99,U.S.,1,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,146875480,0.1,NaN,NaN,NaN,25.72,53490,0.1,10.35,13.02,19.14,30.88,48.57,21530,27080,39810,64240,101020,NaN,NaN
1,99,U.S.,1,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,8054120,0.2,NaN,NaN,NaN,58.88,122480,0.1,24.03,34.35,50.8,74.16,#,49990,71460,105660,154260,#,NaN,NaN
2,99,U.S.,1,0,Cross-industry,cross-industry,1235,11-1000,Top Executives,minor,2658440,0.3,NaN,NaN,NaN,61.09,127070,0.2,21.01,31.69,49.63,78.83,#,43710,65910,103230,163970,#,NaN,NaN
3,99,U.S.,1,0,Cross-industry,cross-industry,1235,11-1010,Chief Executives,broad,205890,0.8,NaN,NaN,NaN,93.2,193850,0.4,29.95,54.23,88.68,#,#,62290,112790,184460,#,#,NaN,NaN
4,99,U.S.,1,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,205890,0.8,NaN,NaN,NaN,93.2,193850,0.4,29.95,54.23,88.68,#,#,62290,112790,184460,#,#,NaN,NaN

In [4]:
bls_df.nunique()

area               1
area_title         1
area_type          1
naics              1
naics_title        1
i_group            1
own_code           1
occ_code        1316
occ_title       1064
o_group            5
tot_emp         1020
emp_prse         125
jobs_1000          0
loc_quotient       0
pct_total          0
h_mean           835
a_mean           964
mean_prse         60
h_pct10          737
h_pct25          777
h_median         820
h_pct75          845
h_pct90          854
a_pct10          900
a_pct25          924
a_median         944
a_pct75          957
a_pct90          957
annual             1
hourly             1
dtype: int64

In [5]:
bls_nat_df = bls_df.drop(['JOBS_1000',
                          'LOC_QUOTIENT',
                          'PCT_TOTAL',
                          'ANNUAL',
                          'HOURLY',
                          'AREA',
                          'AREA_TITLE',
                          'AREA_TYPE' , 
                          'PRIM_STATE',
                          'NAICS',
                          'NAICS_TITLE',
                          'I_GROUP',
                          'OWN_CODE',
                          'H_PCT90',
                          'H_PCT10',
                          'H_PCT25',
                          'H_MEDIAN',
                          'H_PCT75',
                          'A_PCT10',
                          'A_PCT25',
                          'A_MEDIAN',
                          'A_PCT75',
                          'A_PCT90'] ,axis=1)
bls_nat_df.head()

KeyError: "['JOBS_1000' 'LOC_QUOTIENT' 'PCT_TOTAL' 'ANNUAL' 'HOURLY' 'AREA'\n 'AREA_TITLE' 'AREA_TYPE' 'PRIM_STATE' 'NAICS' 'NAICS_TITLE' 'I_GROUP'\n 'OWN_CODE' 'H_PCT90' 'H_PCT10' 'H_PCT25' 'H_MEDIAN' 'H_PCT75' 'A_PCT10'\n 'A_PCT25' 'A_MEDIAN' 'A_PCT75' 'A_PCT90'] not found in axis"

In [ ]:
list_nat = bls_nat_df.columns.to_list()
list_nat

In [ ]:
list_nat = [col.lower() for col in list_nat]
list_nat

In [ ]:
bls_nat_df.columns = list_nat

In [ ]:
cols = ['tot_emp',
 'emp_prse',
 'h_mean',
 'a_mean',
 'mean_prse',
 ]

for col in cols:
    print(col)
    bls_nat_df[col] = pd.to_numeric(bls_nat_df[col], errors='coerce')

bls_nat_df.head()

In [ ]:
bls_nat_df.info()

In [ ]:
bls_nat_df = bls_nat_df.dropna()

In [ ]:
bls_nat_df.info()

In [ ]:
file_metro = "data_files\MSA_M2019_dl.xlsx"
bls_metro_df = pd.read_excel(file_metro)
bls_metro_df.head()

In [ ]:
bls_metro_df.nunique()

In [ ]:
bls_50metro_df = bls_metro_df.drop(['AREA_TYPE',
                                    'NAICS',
                                    'NAICS_TITLE',
                                    'I_GROUP',
                                    'OWN_CODE',
                                    'PCT_TOTAL',
                                    'ANNUAL',
                                    'HOURLY'] ,axis=1)
bls_50metro_df.head()

In [ ]:
x = bls_50metro_df.columns.to_list()
x

In [ ]:
x = [col.lower() for col in x]
x

In [ ]:
bls_50metro_df.columns = x

In [ ]:
bls_50metro_df.head()

In [ ]:
x

In [ ]:
cols = ['tot_emp',
 'emp_prse',
 'jobs_1000',
 'loc_quotient',
 'h_mean',
 'a_mean',
 'mean_prse',
 'h_pct10',
 'h_pct25',
 'h_median',
 'h_pct75',
 'h_pct90',
 'a_pct10',
 'a_pct25',
 'a_median',
 'a_pct75',
 'a_pct90']

for col in cols:
    bls_50metro_df[col] = pd.to_numeric(bls_50metro_df[col], errors='coerce')

bls_50metro_df.head()

In [ ]:
bls_50metro_df.info()

In [ ]:
bls_50metro_df = bls_50metro_df.dropna()

In [ ]:
bls_50metro_df.info()

In [ ]:
#create CSV files to be used to load database as needed
bls_50metro_df.to_csv('data_files/bls_50metro_clean_2019.csv')
bls_nat_df.to_csv('data_files/bls_nat_clean_2019.csv')

Remove the comment to have dataFrames load to postGres DB

In [ ]:
#connecting to postgres DB to create a new table
#engine = create_engine('postgresql://postgres:admin@localhost:5432/Mod20_final')

#bls_nat_df.to_sql('blsnational', engine, if_exists='replace')
#bls_50metro_df.to_sql('bls50metro', engine, if_exists='replace')