In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [3]:
#import csv files into pandas datafram 
#county_demo_df = pd.read_csv('../data_files/COUNTY_Demographics.csv')
#employ_county_df = pd.read_csv('../data_files/Employment_by_County_with_state_pct.csv')
#county_labor_df = pd.read_csv('../data_files/COUNTY_Labor.csv')
#geoID_df = pd.read_csv('../data_files/COUNTY_GeoID.csv')
employ_county_edu_df = pd.read_csv('../data_files/Employment_by_County_with_education_info.csv')

In [4]:
employ_county_edu_df.head()

,index,geoid,county,labor_force,employed,unemployed,unemployed%_county,population,race_white,race_black,...,race_asian,race_islander,race_other,race_two_or_more,state,unemployement%_state,% completed_college_county,%not_completed_college_county,completed_college_county,Not_completed_college_county
0,0,1001,"Autauga County, Alabama",25838,24576,1262,4.9,58805,42160,11445,...,881,35,910,3157,Alabama,5.88,0.27,0.34,15625.41,19751.69
1,1,1003,"Baldwin County, Alabama",96763,91338,5425,5.6,231767,189399,18217,...,2067,143,5335,15024,Alabama,5.88,0.32,0.28,73846.67,64105.86
2,2,1005,"Barbour County, Alabama",8587,7982,605,7.0,25223,11317,11933,...,117,1,1039,700,Alabama,5.88,0.12,0.36,2920.50,8980.53
3,3,1007,"Bibb County, Alabama",8640,8067,573,6.6,22293,16555,4413,...,32,9,465,759,Alabama,5.88,0.10,0.45,2313.68,10004.82
4,4,1009,"Blount County, Alabama",24661,23653,1008,4.1,59134,50663,845,...,178,24,3431,3656,Alabama,5.88,0.13,0.33,7742.66,19763.84

Remove the comment to have dataFrames load to postGres DB

In [7]:
employ_county_edu_df['state'] = employ_county_edu_df['state'].str.replace(' ', '')
employ_county_edu_df.head()

,index,geoid,county,labor_force,employed,unemployed,unemployed%_county,population,race_white,race_black,...,race_asian,race_islander,race_other,race_two_or_more,state,unemployement%_state,% completed_college_county,%not_completed_college_county,completed_college_county,Not_completed_college_county
0,0,1001,"Autauga County, Alabama",25838,24576,1262,4.9,58805,42160,11445,...,881,35,910,3157,Alabama,5.88,0.27,0.34,15625.41,19751.69
1,1,1003,"Baldwin County, Alabama",96763,91338,5425,5.6,231767,189399,18217,...,2067,143,5335,15024,Alabama,5.88,0.32,0.28,73846.67,64105.86
2,2,1005,"Barbour County, Alabama",8587,7982,605,7.0,25223,11317,11933,...,117,1,1039,700,Alabama,5.88,0.12,0.36,2920.50,8980.53
3,3,1007,"Bibb County, Alabama",8640,8067,573,6.6,22293,16555,4413,...,32,9,465,759,Alabama,5.88,0.10,0.45,2313.68,10004.82
4,4,1009,"Blount County, Alabama",24661,23653,1008,4.1,59134,50663,845,...,178,24,3431,3656,Alabama,5.88,0.13,0.33,7742.66,19763.84

In [8]:
#employ_county_edu_df.to_csv('test.csv')

In [10]:
#get db connection string from config
from config import AWS
#connecting to postgres DB to create a new table
engine = create_engine(AWS)

#county_demo_df.to_sql('county_demo', engine, if_exists='replace')
#employ_county_df.to_sql('employ_county', engine, if_exists='replace')
#county_labor_df.to_sql('county_labor', engine, if_exists='replace')
#geoID_df.to_sql('geoID', engine, if_exists='replace')
employ_county_edu_df.to_sql('employ_county_edu', engine, if_exists='replace')