In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
#import csv files into pandas datafram 
#county_demo_df = pd.read_csv('../data_files/COUNTY_Demographics.csv')
employ_county_df = pd.read_csv('../data_files/Employment_by_County_with_state_pct.csv')
#county_labor_df = pd.read_csv('../data_files/COUNTY_Labor.csv')
#geoID_df = pd.read_csv('../data_files/COUNTY_GeoID.csv')

In [7]:
employ_county_df.head()

,index,geoid,county,labor_force,employed,unemployed,unemployed%_county,population,race_white,race_black,race_native,race_asian,race_islander,race_other,race_two_or_more,state,unemployement%_state
0,0,1001,"Autauga County, Alabama",25838,24576,1262,4.9,58805,42160,11445,217,881,35,910,3157,Alabama,5.88
1,1,1003,"Baldwin County, Alabama",96763,91338,5425,5.6,231767,189399,18217,1582,2067,143,5335,15024,Alabama,5.88
2,2,1005,"Barbour County, Alabama",8587,7982,605,7.0,25223,11317,11933,116,117,1,1039,700,Alabama,5.88
3,3,1007,"Bibb County, Alabama",8640,8067,573,6.6,22293,16555,4413,60,32,9,465,759,Alabama,5.88
4,4,1009,"Blount County, Alabama",24661,23653,1008,4.1,59134,50663,845,337,178,24,3431,3656,Alabama,5.88

Remove the comment to have dataFrames load to postGres DB

In [10]:
employ_county_df['state'] = employ_county_df['state'].str.replace(' ', '')
employ_county_df.head()

,index,geoid,county,labor_force,employed,unemployed,unemployed%_county,population,race_white,race_black,race_native,race_asian,race_islander,race_other,race_two_or_more,state,unemployement%_state
0,0,1001,"Autauga County, Alabama",25838,24576,1262,4.9,58805,42160,11445,217,881,35,910,3157,Alabama,5.88
1,1,1003,"Baldwin County, Alabama",96763,91338,5425,5.6,231767,189399,18217,1582,2067,143,5335,15024,Alabama,5.88
2,2,1005,"Barbour County, Alabama",8587,7982,605,7.0,25223,11317,11933,116,117,1,1039,700,Alabama,5.88
3,3,1007,"Bibb County, Alabama",8640,8067,573,6.6,22293,16555,4413,60,32,9,465,759,Alabama,5.88
4,4,1009,"Blount County, Alabama",24661,23653,1008,4.1,59134,50663,845,337,178,24,3431,3656,Alabama,5.88

In [11]:
employ_county_df.to_csv('test.csv')

In [5]:
#get db connection string from config
from config import AWS
#connecting to postgres DB to create a new table
engine = create_engine(AWS)

#county_demo_df.to_sql('county_demo', engine, if_exists='replace')
employ_county_df.to_sql('employ_county', engine, if_exists='replace')
#county_labor_df.to_sql('county_labor', engine, if_exists='replace')
#geoID_df.to_sql('geoID', engine, if_exists='replace')