In [107]:
import pandas as pd
from flask import Flask, json, jsonify

In [109]:
df  = pd.read_csv('static/data_files/Employment_by_County.csv', dtype=str, index_col=False)
df

,geoid,county,labor_force,employed,unemployed,unemployed_pct,population,race_white,race_black,race_native,race_asian,race_islander,race_other,race_two_or_more
0,1001,"Autauga County, Alabama",25838,24576,1262,4.9,58805,42160,11445,217,881,35,910,3157
1,1003,"Baldwin County, Alabama",96763,91338,5425,5.6,231767,189399,18217,1582,2067,143,5335,15024
2,1005,"Barbour County, Alabama",8587,7982,605,7,25223,11317,11933,116,117,1,1039,700
3,1007,"Bibb County, Alabama",8640,8067,573,6.6,22293,16555,4413,60,32,9,465,759
4,1009,"Blount County, Alabama",24661,23653,1008,4.1,59134,50663,845,337,178,24,3431,3656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,56037,"Sweetwater County, Wyoming",20840,19308,1532,7.4,42272,34389,366,433,295,70,2508,4211
3121,56039,"Teton County, Wyoming",15204,14292,912,6,23331,19202,55,185,317,5,1415,2152
3122,56041,"Uinta County, Wyoming",9312,8730,582,6.3,20450,18007,66,191,114,27,864,1181
3123,56043,"Washakie County, Wyoming",4004,3793,211,5.3,7685,6600,12,77,33,3,388,572
3124,56045,"Weston County, Wyoming",3836,3688,148,3.9,6838,6197,30,97,27,9,138,340

In [110]:
result = df[df['county'].str.contains('Alabama')]

In [111]:
response = result['county'].to_list()

In [112]:
search_county = "Fairfax%20County,%20Virginia"
search_county = search_county.replace("%20"," ")
results = df[df['county'].str.contains(search_county)]
results

,geoid,county,labor_force,employed,unemployed,unemployed_pct,population,race_white,race_black,race_native,race_asian,race_islander,race_other,race_two_or_more
2831,51059,"Fairfax County, Virginia",628397,591882,36515,5.8,1150309,569013,110889,6500,235050,873,98434,129550

In [131]:
r = results.apply(lambda x: x.to_json(), axis=1)

r.to_list()[0]

'{"geoid":"51059","county":"Fairfax County, Virginia","labor_force":"628397","employed":"591882","unemployed":"36515","unemployed_pct":"5.8","population":"1150309","race_white":"569013","race_black":"110889","race_native":"6500","race_asian":"235050","race_islander":"873","race_other":"98434","race_two_or_more":"129550"}'